[submodule "src/third-party/behaviortree_cpp_v3"]
	path = src/third-party/behaviortree_cpp_v3
	url = https://github.com/BehaviorTree/BehaviorTree.CPP.git
[submodule "src/third-party/Livox-SDK2"]
	path = src/third-party/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
[submodule "src/third-party/livox_ros_driver2"]
	path = src/third-party/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
[submodule "src/third-party/FASTLIO2_ROS2"]
	path = src/third-party/FASTLIO2_ROS2
	url = git@github.com:chungweeeei/SyncAI-Fast-LIO2.git
	branch = dev
[submodule "src/third-party/small_gicp"]
	path = src/third-party/small_gicp
	url = https://github.com/koide3/small_gicp.git
[submodule "src/third-party/vizionsdk-ros2"]
	path = src/third-party/vizionsdk-ros2
	url = https://github.com/TechNexion-Vision/vizionsdk-ros2.git
