[submodule "src/third-party/behaviortree_cpp_v3"]
	path = src/third-party/behaviortree_cpp_v3
	url = https://github.com/BehaviorTree/BehaviorTree.CPP.git
[submodule "src/syncai_common"]
	path = src/syncai_common
	url = git@github.com:chungweeeei/SyncAI-Common-Interface.git
	branch = dev
[submodule "src/syncai-ros-mcp"]
	path = src/syncai-ros-mcp
	url = git@github.com:chungweeeei/SyncAI-ROS-MCP.git
[submodule "src/syncai_fast_lio"]
	path = src/syncai_fast_lio
	url = git@github.com:chungweeeei/SyncAI-Fast-LIO.git
